<div class="cbs-fixed-header">
    <table class="slds-table slds-table--bordered slds-table--cell-buffer">
        <thead>
        <tr>
            <th>{{ 'CREATED_AT' | translate }}</th>
            <th>{{ 'AMOUNT' | translate }}</th>
            <th>{{ 'DEBIT_ACCOUNT' | translate }}</th>
            <th>{{ 'CREDIT_ACCOUNT' | translate }}</th>
            <th>{{ 'DESCRIPTION' | translate }}</th>
            <th>{{ 'CREATED_BY' | translate }}</th>
        </tr>
        </thead>
    </table>
</div>
<div class="cbs-scrollable-table">
    <p-table
        [value]="(entriesState | async)?.data?.content"
        [styleClass]="'slds-table slds-table--bordered slds-table--cell-buffer'">
        
        <ng-template pTemplate="header">
            <tr>
                <th>{{ 'CREATED_AT' | translate }}</th>
                <th>{{ 'AMOUNT' | translate }}</th>
                <th>{{ 'DEBIT_ACCOUNT' | translate }}</th>
                <th>{{ 'CREDIT_ACCOUNT' | translate }}</th>
                <th>{{ 'DESCRIPTION' | translate }}</th>
                <th>{{ 'CREATED_BY' | translate }}</th>
            </tr>
        </ng-template>
        
        <ng-template pTemplate="body" let-row>
            <tr>
                <td>
                    <span class="slds-truncate"
                          [title]="row['effectiveAt']">
                        {{ row['effectiveAt'] | cbsDateFormat }} {{ row['effectiveAt'] | cbsTimeFormat }}
                    </span>
                </td>
                <td class="float-right">
                    <span><b>{{ row['amount'] | cbsNumberFormat }}</b></span>
                </td>
                <td>
                    <span class="slds-truncate"
                          [title]="row['debitAccountNumber'] + (row['debitAccountName'])">
                        {{ row['debitAccountNumber'] }}
                    </span>
                </td>
                <td>
                    <span class="slds-truncate"
                          [title]="row['creditAccountNumber'] + (row['creditAccountName'])">
                        {{ row['creditAccountNumber'] }}
                    </span>
                </td>
                <td>
                    <div class="slds-truncate" [title]="row['description']">
                        {{ row['description'] }}
                    </div>
                </td>
                <td>
                    <span class="slds-truncate"
                          [title]="row['createdByFullName']">
                        {{ row['createdByFullName'] }}
                    </span>
                </td>
            </tr>
        </ng-template>
    </p-table>
</div>

<div class="slds-grid slds-grid--align-center"
     *ngIf="(entriesState | async)?.totalElements > (entriesState | async)?.size">
    <ngl-pagination
        class="cbs-pagination"
        *ngIf="(entriesState | async)?.loaded"
        [(page)]="queryObject.page"
        [total]="(entriesState | async)?.totalElements"
        limit="5"
        [perPage]="(entriesState | async)?.size"
        [previousText]="'PREVIOUS' | translate"
        [nextText]="'NEXT' | translate"
        boundaryNumbers="1"
        (pageChange)="goToPage($event)" #pagination></ngl-pagination>
</div>

<cbs-loading-indicator [isFixed]="true" [showLoader]="(entriesState | async)?.loading"></cbs-loading-indicator>
