<cbs-header>
    <cbs-page-header>
        <div cbs-page-header-layout="left">
            <cbs-heading-block headingTitle="{{ 'LOANS_REPAYMENT' | translate }}" [svgData]="svgData">
                <cbs-breadcrumb [breadcrumbLinks]="breadcrumbLinks"></cbs-breadcrumb>
            </cbs-heading-block>
        </div>
        <!-- /cbs-page-header-layout = left -->

        <div cbs-page-header-layout="center">
            <cbs-search-input
                [searchQuery]="searchQuery"
                (onClear)="clearSearch()"
                (onSearch)="search($event)"
                placeholder="{{ 'SEARCH' | translate }}"></cbs-search-input>
        </div>
    </cbs-page-header>
    <!-- cbs-page-header -->
</cbs-header>
<!-- cbs-header -->


<main class="cbs-main cbs-main--pt-sm">
    <p-table
        [value]="loans"
        [styleClass]="'slds-table slds-table--bordered slds-table--cell-buffer'"
        selectionMode="single"
        (onRowSelect)="goToRepayLoan($event)"
    >
        <ng-template pTemplate="header">
            <tr>
                <th>{{ 'PROFILE' | translate }}</th>
                <th>{{ 'CODE' | translate }}</th>
                <th>{{ 'AMOUNT' | translate }}</th>
                <th>{{ 'INTEREST_RATE' | translate }}</th>
                <th>{{ 'LOAN_PRODUCT_NAME' | translate }}</th>
                <th>{{ 'CREATED_BY' | translate }}</th>
                <th>{{ 'CREATED_AT' | translate }}</th>
                <th>{{ 'STATUS' | translate }}</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-row>
            <tr [pSelectableRow]="row">
                <td>{{ row['profileName'] }}</td>
                <td>{{ row['code'] }}</td>
                <td>{{ row['amount'] | cbsNumberFormat }}</td>
                <td>{{ row['interestRate'] + '%'}}</td>
                <td>{{ row['productName'] }}</td>
                <td>{{ row['createdBy'] }}</td>
                <td>{{ row['createdAt'] | cbsDateFormat }} {{ row['createdAt'] | cbsTimeFormat }}</td>
                <td><ngl-badge [type]="(row['status'] | statusBadge)">
                    {{ row['status'] === 'IN_PROGRESS' ? 'IN PROGRESS' : row['status']  }}
                </ngl-badge></td>
            </tr>
        </ng-template>
    </p-table>

    <cbs-loading-indicator [isFixed]="true" [showLoader]="(loansData | async)?.loading"></cbs-loading-indicator>


    <div class="slds-grid slds-grid--align-center"
         *ngIf="(loansData | async)?.totalElements > (loansData | async)?.size">
        <ngl-pagination
            class="cbs-pagination"
            *ngIf="(loansData | async)?.loaded"
            [(page)]="queryObject.page"
            [total]="(loansData | async)?.totalElements"
            limit="5"
            [perPage]="(loansData | async)?.size"
            [previousText]="'PREVIOUS' | translate"
            [nextText]="'NEXT' | translate"
            boundaryNumbers="1"
            (pageChange)="goToPage($event)" #pagination></ngl-pagination>
    </div>

</main>
<!-- ./cbs-main -->

