<cbs-header>
    <cbs-page-header>
        <div cbs-page-header-layout="left">
            <cbs-heading-block [isMainPage]="true" headingTitle="{{ 'BONDS' | translate }}" [svgData]="svgData">
            </cbs-heading-block>
        </div>

        <div cbs-page-header-layout="center">
            <cbs-search-input
                [searchQuery]="searchQuery"
                (onClear)="clearSearch()"
                (onSearch)="search($event)"
                placeholder="{{ 'SEARCH' | translate }}"></cbs-search-input>
        </div>
    </cbs-page-header>
</cbs-header>

<main class="cbs-main cbs-main--pt-sm">

    <p-table
        [value]="(bondData | async)?.bond"
        [styleClass]="'slds-table slds-table--bordered slds-table--cell-buffer'"
        selectionMode="single"
        (onRowSelect)="goToBond($event)">
        <ng-template pTemplate="header">
            <tr>
                <th>{{ 'PROFILE' | translate }}</th>
                <th>{{ 'ISIN' | translate }}</th>
                <th>{{ 'AMOUNT' | translate }}</th>
                <th>{{ 'INTEREST_RATE' | translate }}</th>
                <th>{{ 'CREATED_BY' | translate }}</th>
                <th>{{ 'STATUS' | translate }}</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-row>
            <tr [pSelectableRow]="row">
                <td>{{ row['profileName'] }}</td>
                <td>{{ row['isin'] }}</td>
                <td>{{ row['amount'] | cbsNumberFormat }}</td>
                <td>{{ row['interestRate'] + '%'}}</td>
                <td>{{ row['createdBy'] }}</td>
                <td><ngl-badge [type]="(row['status'] | statusBadge)">{{ row['status'] }}</ngl-badge></td>
            </tr>
        </ng-template>
    </p-table>

    <cbs-loading-indicator [isFixed]="true" [showLoader]="(bondData | async)?.loading"></cbs-loading-indicator>

    <div class="slds-grid slds-grid--align-center"
         *ngIf="(bondData | async)?.totalElements > (bondData | async)?.size">
        <ngl-pagination
            class="cbs-pagination"
            *ngIf="(bondData | async)?.loaded"
            [(page)]="queryObject.page"
            [total]="(bondData | async)?.totalElements"
            limit="5"
            [perPage]="(bondData | async)?.size"
            [previousText]="'PREVIOUS' | translate"
            [nextText]="'NEXT' | translate"
            boundaryNumbers="1"
            (pageChange)="goToNextPage($event)" #pagination></ngl-pagination>
    </div>
</main>
