<p-table #dt
    [value]="events"
    [styleClass]="'slds-table slds-table--bordered slds-table--cell-buffer'"
    [scrollable]="true"
    [scrollHeight]="'calc(100% - 41px);'"
    cbsMacAgent
    [cbsMacAgentClass]="'cbs-mac-user'">
        <ng-template pTemplate="header">
            <tr>
                <th>#</th>
                <th>{{ 'DATE' | translate }}</th>
                <th>{{ 'TYPE' | translate }}</th>
                <th>{{ 'AMOUNT' | translate }}</th>
                <th>{{ '#' }}</th>
                <th>{{ 'CREATED_BY' | translate }}</th>
                <th>{{ 'ENTRY_DATE' | translate }}</th>
                <th>{{ 'STATUS' | translate }}</th>
                <th>{{ 'COMMENT' | translate }}</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-row>
            <tr [pSelectableRow]="row">
                <td>
                    <span *ngIf="row['id'] > 0">{{ row['id']}}</span>
                    <button (click)="onEventClick(row)" 
                            [ngClass]="{'cbs-treetable__toggler--expanded' : row.expanded }"
                            class="slds-button cbs-treetable__toggler slds-button--icon slds-button--icon-x-small slds-m-right--x-small"
                            aria-controls="expand"
                            *ngIf="row['id'] === 0">
                        ...
                        <span class="slds-assistive-text">{{'TOGGLE' | translate}}</span>
                    </button>
                </td>
                <td>{{ row['effectiveAt'] | cbsDateFormat }} {{ row['effectiveAt'] | cbsTimeFormat }}</td>
                <td>
                    <ng-container *ngIf="row['otherFee']; else onlyTypeBond">
                        <span>{{ row['otherFee']['name'] + ' - ' + (row['eventType'] | translate) }}</span>
                    </ng-container>
                    <ng-template #onlyTypeBond>
                        <span>{{ row['eventType'] | translate }}</span>
                    </ng-template>
                </td>
                <td>{{ row['amount'] | cbsNumberFormat }}</td>
                <td>
                    <ng-container *ngIf="row['installmentNumber']; else emptyInstallmentBond">
                        <span class="">{{ row['installmentNumber'] }}</span>
                    </ng-container>
                    <ng-template #emptyInstallmentBond>
                        <div>-</div>
                    </ng-template>
                </td>
                <td>{{ row['createdBy']['firstName'] + ' ' + row['createdBy']['lastName'] }}</td>
                <td>{{ row['createdAt'] | cbsDateFormat }} {{ row['createdAt'] | cbsTimeFormat }}</td>
                <td>
                    <ng-container *ngIf="row['deleted']; else emptyStatusBond">
                        <ngl-badge [type]="'error'">{{ 'DELETED' | translate }}</ngl-badge>
                    </ng-container>
                    <ng-template #emptyStatusBond>
                        <div class="slds-text-align--center">-</div>
                    </ng-template>
                </td>
                <td>
                    <span class="slds-truncate slds-show">{{ row['comment'] }}</span>
                </td>
            </tr>
        </ng-template>
    </p-table>

<cbs-loading-indicator [isFixed]="true" [showLoader]="eventsState?.loading || isLoading"></cbs-loading-indicator>
<p *ngIf="!events" class="slds-text-align--center slds-m-top--large">{{ 'NO_DATA' | translate }}</p>

<cbs-confirm-popup
    [opened]="isRollbackConfirmOpen"
    (onSubmitClick)="confirmRollback($event)"
    (openedChange)="isRollbackConfirmOpen = false"
    [showTextarea]="true"
    [leftButtonLabel]="'CANCEL' | translate"
    [rightButtonLabel]="'CONFIRM' | translate"
    [popupLabel]="'CONFIRMATION' | translate"
    [confirmText]="'ROLLBACK_CONFIRM' | translate">
</cbs-confirm-popup>
