<cbs-header>
    <cbs-page-header>
        <div cbs-page-header-layout="left">
            <cbs-heading-block [isMainPage]="true" headingTitle="{{ 'SAVINGS' | translate }}" [svgData]="svgData">
            </cbs-heading-block>
        </div>
        <!-- /cbs-page-header-layout = left -->

        <div cbs-page-header-layout="center">
            <cbs-search-input
                [searchQuery]="searchQuery"
                (onClear)="clearSearch()"
                (onSearch)="search($event)"
                placeholder="{{ 'SEARCH' | translate }}"></cbs-search-input>
        </div>
        <!-- /cbs-page-header-layout = center -->
    </cbs-page-header>
    <!-- cbs-page-header -->
</cbs-header>
<!-- cbs-header -->


<main class="cbs-main cbs-main--pt-sm">

    <p-table
        [value]="(savingData | async)?.saving"
        [styleClass]="'slds-table slds-table--bordered slds-table--cell-buffer'"
        selectionMode="single"
        (onRowSelect)="goToSaving($event)">
        <ng-template pTemplate="header">
            <tr>
                <th>{{ 'PROFILE' | translate }}</th>
                <th>{{ 'CODE' | translate }}</th>
                <th>{{ 'OPEN_DATE' | translate }}</th>
                <th>{{ 'SAVING_OFFICER' | translate }}</th>
                <th>{{ 'STATUS' | translate }}</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-row>
            <tr [pSelectableRow]="row">
                <td>{{ row['profileName'] }}</td>
                <td>{{ row['code'] }}</td>
                <td>{{ row['openDate'] | cbsDateFormat }} {{ row['openDate'] | cbsTimeFormat }}</td>
                <td>{{ row['savingOfficerFirstName'] + ' ' + row['savingOfficerLastName'] }}</td>
                <td><ngl-badge [type]="(row['status'] | statusBadge)">
                    {{ row['status'] === 'IN_PROGRESS' ? 'IN PROGRESS' : row['status'] }}
                </ngl-badge></td>
            </tr>
        </ng-template>
    </p-table>

    <cbs-loading-indicator [isFixed]="true" [showLoader]="(savingData | async)?.loading"></cbs-loading-indicator>

    <div class="slds-grid slds-grid--align-center"
         *ngIf="(savingData | async)?.totalElements > (savingData | async)?.size">
        <ngl-pagination
            class="cbs-pagination"
            *ngIf="(savingData | async)?.loaded"
            [(page)]="queryObject.page"
            [total]="(savingData | async)?.totalElements"
            limit="5"
            [perPage]="(savingData | async)?.size"
            [previousText]="'PREVIOUS' | translate"
            [nextText]="'NEXT' | translate"
            boundaryNumbers="1"
            (pageChange)="goToNextPage($event)" #pagination></ngl-pagination>
    </div>

</main>
<!-- ./cbs-main -->
